.App{
  width: 500px;
  height: 2000px;
  margin: 0 auto;
}
h1{
    font-family: 'Brush Script MT';
    text-align: center;
    font-size: 4rem;
    font-weight: 50;
    margin: 1rem 0;
    letter-spacing: -2px;
}
.title{
  text-decoration: none;
  color: #965b80;
}
.Form{
  margin: 20px auto;
}
.Form input,select{
  width: 100%;
  border: 2px solid #86868fa2;
  padding:5px;
  box-sizing: content-box;
}
a{
  text-decoration: none;
}
button{
    text-transform: uppercase;
    background:#965b80;
    width: 250px;
    margin: 15px 130px 5px 130px;
    border: 0;
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;
}
button:hover{
  background: #7B8589;
  border: 2px solid #965b80;
}
button:disabled{
  background: rgb(239, 243, 243);
  color: black;
  border: none;
  cursor: default;
}
.error{
  color: red;
}
